APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hasil_assessment_test
DB_USERNAME=root
DB_PASSWORD=

ASSESSMENT_UPLOAD_DB_CONNECTION=tms
ASSESSMENT_UPLOAD_RNB_DB_CONNECTION=rnb
ASSESSMENT_UPLOAD_TRAH_DB_CONNECTION=trah
ASSESSMENT_UPLOAD_KMA_DB_CONNECTION=kma
ASSESSMENT_UPLOAD_RNE_DB_CONNECTION=rne
ASSESSMENT_UPLOAD_NISKALA_DB_CONNECTION=niskala
ASSESSMENT_UPLOAD_TMS_DB_CONNECTION=tms
TMS_DB_CONNECTION=mysql
TMS_DB_HOST=127.0.0.1
TMS_DB_PORT=3306
TMS_DB_DATABASE=andalanbersamamigration
TMS_DB_USERNAME=root
TMS_DB_PASSWORD=
RNB_DB_CONNECTION=mysql
RNB_DB_HOST="${TMS_DB_HOST}"
RNB_DB_PORT="${TMS_DB_PORT}"
RNB_DB_DATABASE="${TMS_DB_DATABASE}"
RNB_DB_USERNAME="${TMS_DB_USERNAME}"
RNB_DB_PASSWORD="${TMS_DB_PASSWORD}"
TRAH_DB_CONNECTION=mysql
TRAH_DB_HOST="${TMS_DB_HOST}"
TRAH_DB_PORT="${TMS_DB_PORT}"
TRAH_DB_DATABASE="${TMS_DB_DATABASE}"
TRAH_DB_USERNAME="${TMS_DB_USERNAME}"
TRAH_DB_PASSWORD="${TMS_DB_PASSWORD}"
KMA_DB_CONNECTION=mysql
KMA_DB_HOST="${TMS_DB_HOST}"
KMA_DB_PORT="${TMS_DB_PORT}"
KMA_DB_DATABASE="${TMS_DB_DATABASE}"
KMA_DB_USERNAME="${TMS_DB_USERNAME}"
KMA_DB_PASSWORD="${TMS_DB_PASSWORD}"
RNE_DB_CONNECTION=mysql
RNE_DB_HOST="${TMS_DB_HOST}"
RNE_DB_PORT="${TMS_DB_PORT}"
RNE_DB_DATABASE="${TMS_DB_DATABASE}"
RNE_DB_USERNAME="${TMS_DB_USERNAME}"
RNE_DB_PASSWORD="${TMS_DB_PASSWORD}"
NISKALA_DB_CONNECTION=mysql
NISKALA_DB_HOST="${TMS_DB_HOST}"
NISKALA_DB_PORT="${TMS_DB_PORT}"
NISKALA_DB_DATABASE="${TMS_DB_DATABASE}"
NISKALA_DB_USERNAME="${TMS_DB_USERNAME}"
NISKALA_DB_PASSWORD="${TMS_DB_PASSWORD}"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
